

.pokemonerror__container {
    align-items: center;
    background-color: rgb(255, 141, 141);
    border: 1px solid rgb(103, 0, 0);
    border-radius: 5px;
    display: flex;
    height: 120px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 400px;

    p {
        color: rgb(103, 0, 0);
        font-size: 1.25rem;
    }

}